footer
  nav
    div
      a(href="#")
        img(src="../img/Cakes.jpg", alt="Лого интернет магазина тортиков")
    ul
      -  const listOfFooterNavItems = ["Наши торты", "Индивидуальный заказ", "отзывы", "о нас", "плашка как заказать", "контакты"]
      each item in listOfFooterNavItems
        li= item
    div
      ul
        li
          span Инстаграмм
        li
          span ВКонтакте
    p ©  2018 Cakes