include footer-variable.pug
footer.footer
  nav.footer-nav
    div.footer-logo
      a(href="#" class='footer-logo__link')
        img(src="../img/Cakes.png",
        alt="Лого интернет магазина тортиков"
        class='footer-logo__image'
        )
  ul.footer-nav__list
    each item in mainNavItems
      li.footer-nav__item
        a(href='#'
        class='footer-nav__link'
        )= item
  ul.footer-social
    li(class='footer-social__item footer-social__item--insta')
      span.visually-hidden Инстаграмм
    li.footer-social__item
      span.visually-hidden ВКонтакте
  p.footer-copyright ©  2018 Cakes