include ./main/main-variable.pug
include ./header/header-variable.pug
include ./footer/footer-variable.pug
doctype html
html(lang="ru-RU")
  include ./head/head.pug
  body
    include ./header/header.pug
    include ./main/main.pug
    include ./footer/footer.pug