include mixins.pug
include main-variable.pug
main.main
  h1.main__title Торты  на заказ
  p.main__description Ручная работа
  button.main__order-button Выбрать торт
  ul(class="main__list-features features")
    each feature in features
      li.features__item= feature
  section
    h2.main__title-type Наши торты
    each cakeType in typeOfCakes
      +articleCake(...cakeType)
  section
    h2 Индивидуальный заказ
    p Соберите торт в 3 шага
    ul
      li
        div 01
        h3 Выберите начинку
        div
          .slider
            img(src="#", alt="Тортик")
            h3 Шоколадный ганаш
            p Ароматный шоколадный бисквит, густой шоколадный крем – самый шоколадный из всех возможных десертов!
            div 1000 руб/кг
            button Выбрать
          span 1/12
      li
        span 02
        h3 Размер
        each cakeSize in sizeOfCakes
          +sizeOfCakes(...cakeSize)
      li
        span 03
        h3 Оформление
        .slider
          .cake
            img(src="#", alt="Тортик")
            h3 Ягодное ассорти
            div 700 руб/кг
          .cake
            img(src="#", alt="Тортик")
            h3 Маршмэллоу
            div 600 руб/кг
          span 2/35
        form
          h3 Ваш выбор
          each cake in formCakes
            +form(...cake)
          button(type='submit') заказать торт
    section
      h2 Отзывы
        div
          h3 Мария
          p юрист, 33 года
          p Заказывала торт брауни на юбилей мужа. Гости были в восторге! Отдельное спасибо за своевременную доставку! Теперь будем заказывать торты только у вас для наших семейных праздников
          span 1/2655
    section
      h2 О нас
      h3 О кондитере
      h4 Кондитер – как призвание
      p Павел — профессиональный повар в различных гастрономических областях,
        | но однажды его сердце покорило кондитерское искусство.
        | С ранних лет он увлекался утонченным мастерством и обратился
        | к своим талантам как кондитер.
      h4 Принцип – натуральные ингредиенты
      p Сегодня Павел радует изделиями не только близких,
        | но и тех, кто предпочитает качественную продукцию для торжества,
        | а главным принципом является выбор натуральных ингредиентов.
      ul
        li
          span.visually-hidden Инстаграмм
        li
          span.visually-hidden ВКонтакте
        li
          span.visually-hidden Твиттер
    div
      p Я за простые рецепты. В Италии это называют
        | cucina povera: когда обычные ингредиенты
        | превращаются в божественное блюдо.
    section
      h2 Наши преимущества
      h3 Почему нас выбирают ?
      div
        h4 Без искусственных добавок
        p Работаем  с натуральными ингредиентами и свежими продуктами
        h4 Свежий торт в день торжества
        p Торты изготавливаются в течение
          | суток до отправки
    section
      h2 Забота о клиентах
      h3 Для нас важно
      p Нам важно чтобы каждый торт был безупречным,
        | как внутри, так и снаружи, чтобы он был создан
        | исключительно для вас и для вашего события.
    section
      h2 Как заказать
      ul
        each order in ordersData
          +orderInformation(...order)
    section
      h2 Контакты
      h3 Остались вопросы?
      form
        h3 Заполните форму ниже и наш кондитер свяжется с Вами
        each user in formOfUsers
          +form(...user)
        button(type='submit' name='user-submit') Отправить
      article
        p Или позвоните по телефону:
          | +7 906 899 92 96
        p Наша почта : bakerybypavel@mail.ru
        p Мы в соц. сетях:
        ul
          li
            span.visually-hidden Инстаграмм
          li
            span.visually-hidden ВКонтакте