- var typeOfCakes = [['Классические', '24 ', '#', 'Тортик','#', 'Смотреть'],['Муссовые', '12 ', '#', 'Тортик','#'],['Свадебные', '20 ', '#', 'Тортик','#'],['Мужчинам', '16 ', '#', 'Тортик','#'],['Женщинам', '18 ', '#', 'Тортик','#'], ['Детские', '14 ', '#', 'Тортик','#']]
- var sizeOfCakes = [['1', '#','#', '17-18 см (1 кг – 6 персон)'],['2', '#','#','23-24 см (10–12 персон)'],['5', '#','#','Два яруса 25 и 20 см (15–20 персон)'],['8', '#','#','Три яруса 30,25 и 18 см (25–30 персон)']]
- var fetures = ['Натуральные ингредиенты', 'Доставка бесплатно при заказе от 2000 рублей*']