html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;

  font-size: 14px;
  line-height: 18px;
  font-family: "Circe", "Arial", sans-serif;
}

a {
  text-decoration: none;
}
